.boardContainer {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
.tileElement {
  display: grid;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-content: center;
  font-size: 32px;
}
.tileElementUnused {
  background-color: rgba(200, 200, 200, 0.2);
}
.tileElementPlacing {
  background-color: rgba(64, 64, 64, 0.2);
  color: red;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 4px -4px 2px rgba(0, 0, 0, 0.6);
}
.tileElementUsed {
  background-color: #5239e3;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 4px -4px 2px rgba(0, 0, 0, 0.6);
}
