.App {
  text-align: center;
  /* width: 800px;
  height: 800px; */
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;
}
.Board {
  grid-column-start: span 1;
}
.Tools {
  grid-column: span 1;
}
